body{
    font-family: sans-serif;
    border: 1px groove;
    margin: 7% auto;    
    width: 300px;
}
.large-heading{
    margin: 30% 20% 20% 20%;
    padding-top: 10px;
    font-size: 30px;
    font-weight: lighter;
}
.small-heading{
    margin: 60% 40%;
    font-size: 20px;
    font-weight: lighter;
} 
input[type="text"]{
    margin: 10% 2% 5% 5%;
    padding: 10px 100px 7px 10px;
    border: none;
    border-bottom: groove 1px;
    font-size: 15px;
}
input[type="password"]{
    margin: 10% 2% 5% 5%;
    padding: 10px 100px 7px 10px;
    border: none;
    border-bottom: groove 1px;
    font-size: 15px;
}
input[type="submit"]{
    margin: 15% 5% 15% 10%;
    padding: 10px 50px 10px 50px;
    background: salmon;
    border: 1px solid salmon;
    color: white;
    float:left;
    border-radius: 5px;
}
.underline{
    margin: 15% 5% 15% 5%;
    text-decoration: underline;
    font-size:13px;
    padding-left: 10px;
}
.signup{
    border: 1px groove slateblue;
    background-color: slateblue;
    margin: auto;
    padding:10% 35%;    
}
a{
    color:white;
    text-decoration: none;
}
#errormsg{
    text-align: center;
    color:red;  
}




